# Ignore The following directories / file extensions
Library
Temp

# Ignore the following file extensions
*.exe
*.vcproject
*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
Assets/AssetStore/Hexagon Star Softworks/Skyboxes/Tokyo Cityscape/skybox_tokyo_cityscape_2048.psd
Assets/AssetStore/Hexagon Star Softworks/Skyboxes/Tokyo Cityscape/skybox_tokyo_cityscape_2048.psd.meta
